{{/*kast - Kubernetes arcane spelling technology
Copyright (C) 2025 laaledesiempre@disroot.org
Licensed under the GNU GPL v3. See LICENSE file for details.

TEST TEMPLATE - Used to test common.secretPath function
This template generates ConfigMap resources showing generated paths
*/}}
{{- define "common.test-path" }}
{{- $root := index . 0 }}
{{- $glyphDefinition := index . 1 }}

{{- /* Build options dict */ -}}
{{- $options := dict }}
{{- if $glyphDefinition.excludeName }}
  {{- $options = merge $options (dict "excludeName" true) }}
{{- end }}

{{- /* Get basePath from glyph definition */ -}}
{{- $basePath := default "" $glyphDefinition.basePath }}

{{- /* Generate secret path using common.secretPath */ -}}
{{- $secretPath := include "common.secretPath" (list $root $glyphDefinition $basePath $options) }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "test-path-%s" ($glyphDefinition.name | default "no-name") }}
  labels:
    test: secretpath
data:
  generatedPath: {{ $secretPath | quote }}
  inputName: {{ $glyphDefinition.name | quote }}
  inputPath: {{ $glyphDefinition.path | quote }}
  inputBasePath: {{ $basePath | quote }}
  inputVisibility: {{ default "publics" $glyphDefinition.private | quote }}
{{- end }}
